/* various settings */
const settings = {
    "password": "guest",            // Password for the web interface
    "configs_dir": "./configs",     // ignore this for now
    "config_file": "./config.cfg",  // Full path to the cs go server's config file
    "backup_dir": "./backups",      // ignore this for now
    "cookiesSecret": "E1ZE4BctIqIhn3XEALKe", // set this to a random string, used to sign the cookies
    "server_ip": "localhost",       // cs go server's ip
    //"public_ip": "",                // cs go server's public ip for the connect button, leave unset to use server_ip
    "rcon_password": "guest",       // cs go server's rcon password
    "convars": ["sv_password"],     // list of live server cvars that are allowed to be changed
    "cfgvars": ["sv_password"],     // list of config variables that are allowed to be changed
    "csgoserver_runscript": "~/csgoserver_runscript", // full path of cs go server's runscript
    "commands": [
        {
            name: "restart",
            label: "Restart Server",
        }
    ]
}

module.exports = settings;