<!doctype html>
<html>
  <head>
    <title>CSGO Config Switcher</title>
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css?family=Bitter|Roboto|Roboto+Mono" rel="stylesheet"> 
  </head>
  <body>
    <div class="content">
      <div class="main">
        <div id="loading-main"><span class="loading-dot"></span></div>
        <input id="link" type="password" placeholder="Password" style="display: none;">

        <div class="interface" style="display: none;">
          <h4>Server Status</h4>
          <pre id="server-status"></pre>
          <!--<h4>Available Config Files</h4>
          <div class="configs">

          </div>-->
          <h4>Live CVars</h4>
          <table class="options">
            <thead>
              <th>Option</th>
              <th>Value</th>
            </thead>
            <tbody class="cvars">

            </tbody>
          </table>

        <h4>Config CVars</h4>
        <table class="options">
          <thead>
            <th>Option</th>
            <th>Value</th>
          </thead>
          <tbody class="cfgvars">

          </tbody>
        </table>
        <h4>Actions</h4>
        <div class="actions">
        </div>
      </div>
      </div>
      </div-->

    <div class="footer">
      <span>Made By <a href="https://nimos.ws/" style="color: #996BEF">Nimos</a></span> - Discord: Nimos#2540 - Github: <a href="https://github.com/Nimos/csgoserverthingy" style="color: #996BEF">nimos/csgoserverthingy</a>
    </div>

  </body>
  <script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
  <script src="script.js"></script>
</html>
